## INTRO GOOGLE COLABS

In [1]:
#Ini adalah baris komentar/comment. Baris ini tidak akan dieksekusi.
#Gunakan tanda `#` untuk membuat komentar
#Gunakan komentar untuk memberi keterangan dalam baris kode yang Anda buat

print("Hello Abrory") #kode pertama untuk menampilkan kalimat

Hello Abrory

Ini adalah contoh blok text.
Kita dapat memasukkan catatan, keterangan, membuat judul section dengan menggunakan blok text ini.

## DASAR PEMROGRAMAN PYTHON

### Variabel

In [2]:
#contoh variabel dengan berbagai nila
nama = "John"
umur = 25
berat_badan = 70.5

In [3]:
print(nama)
print(umur)
print(berat_badan)

John
25
70.5

In [4]:
umur = 26
print(umur)
print("Mengubah nilai variabel umur")
umur = 30
print(umur)

26
Mengubah nilai variabel umur
30

### Tipe Data

In [5]:
# Tipe data integer
bilangan_bulat = 5
print("=======INTEGER======")
print(bilangan_bulat)
print(type(bilangan_bulat))    # Output: <class 'int'>
print("===================\n\n\n")

# Tipe data float
bilangan_desimal = 3.14
print("=======FLOAT======")
print(bilangan_desimal)
print(type(bilangan_desimal))    # Output: <class 'float'>
print("===================\n\n\n")

# Tipe data string
kalimat = 'halo, ini adalah contoh kalimat'
print("=======STRING======")
print(kalimat)
print(type(kalimat))    # Output: <class 'str'>
print("===================\n\n\n")

# Tipe data boolean
nilai_benar = True
nilai_salah = False
print("=======BOOLEAN======")
print(nilai_benar)
print(nilai_salah)
print(type(nilai_benar))    # Output: <class 'bool'>
print(type(nilai_salah))    # Output: <class 'bool'>
print("===================\n\n\n")

# Tipe data list
daftar_acak = [1, "dua", 3, "empat", 5]
print("=======LIST======")
print(daftar_acak)
print(type(daftar_acak))    # Output: <class 'list'>
print("===================\n\n\n")

# Tipe data tuple
bilangan_prima = (1, 3, 5, 7, 11, 13)
print("=======TUPLE======")
print(bilangan_prima)
print(type(bilangan_prima))    # Output: <class 'tuple'>
print("===================\n\n\n")

# Tipe data set
himpunan_genap = {2, 4, 6, 8, 10}
print("=======SET======")
print(himpunan_genap)
print(type(himpunan_genap))    # Output: <class 'set'>
print("===================\n\n\n")

# Tipe data dictionary
data_siswa = {'kelas': 'Matahari', 'nama': "Lia", "umur": 3}
print("=======DICTIONARY======")
print(data_siswa)
print(type(data_siswa))    # Output: <class 'dict'>
print("===================\n\n\n")

=======INTEGER======
5
<class 'int'>
===================



=======FLOAT======
3.14
<class 'float'>
===================



=======STRING======
halo, ini adalah contoh kalimat
<class 'str'>
===================



=======BOOLEAN======
True
False
<class 'bool'>
<class 'bool'>
===================



=======LIST======
[1, 'dua', 3, 'empat', 5]
<class 'list'>
===================



=======TUPLE======
(1, 3, 5, 7, 11, 13)
<class 'tuple'>
===================



=======SET======
{2, 4, 6, 8, 10}
<class 'set'>
===================



=======DICTIONARY======
{'kelas': 'Matahari', 'nama': 'Lia', 'umur': 3}
<class 'dict'>
===================

In [6]:
from datetime import date

# Tipe data tanggal/date
hari_ini = date.today()
print(type(hari_ini))    # Output: <class 'date'>

<class 'datetime.date'>

### Operasi Dasar Aritmatika

In [7]:
#@title Penjumlahan

a = 10
b = 11
c = a+b
print(a)
print(b)
print(c)

10
11
21

In [8]:
#@title Pengurangan

a = 10
b = 11
c = a-b
print(a)
print(b)
print(c)

10
11
-1

In [9]:
#@title Perkalian

a = 10
b = 11
c = a*b
print(a)
print(b)
print(c)

10
11
110

In [10]:
#@title Pembagian

a = 10
b = 3
c = a/b
d = a//b
print(a)
print(b)
print(c)
print(d)

10
3
3.3333333333333335
3

In [11]:
#@title Pangkat

a = 2
b = 3
c = a**b
print(a)
print(b)
print(c)

2
3
8

In [12]:
#@title Modulus

a = 10
b = 3
c = a%b
print(a)
print(b)
print(c)

10
3
1

### Operasi Dasar Text

In [13]:
kalimat = "Selamat datang, tamu hotel"
hasil = kalimat.replace("hotel", "penginapan")
print(hasil)

Selamat datang, tamu penginapan

### Conditional Statement

In [14]:
a = 10
if a < 100:
  b = a - 5
elif a == 10:
  b = 10-0
else:
  b = 100

print(b)

5

### Perulangan

In [15]:
for index in range(1, 7):
  print("Perulangan ke:"+str(index))

Perulangan ke:1
Perulangan ke:2
Perulangan ke:3
Perulangan ke:4
Perulangan ke:5
Perulangan ke:6

In [16]:
index = 0
while index < 5:
  print("Perulangan ke:"+str(index))
  index = index+1

Perulangan ke:0
Perulangan ke:1
Perulangan ke:2
Perulangan ke:3
Perulangan ke:4

### Function

In [17]:
def hitung_luas_lingkaran(jari_jari):
    pi = 3.14
    luas = pi * jari_jari ** 2
    return luas

### "try-except-pass"

In [18]:

try:
    # potensi kode yang menghasilkan exception
    x = 5 / 0
except:
    # kode yang akan dieksekusi jika exception terjadi
    print("Terjadi kesalahan!")
    pass

Terjadi kesalahan!

### User Input

In [19]:
nama = input("Masukkan Nama Anda")
print("Nama saya " + nama)

Nama saya abrory

In [20]:
a = 100
while a >= 100:
  print(type(a))
  a = a-50

<class 'int'>